:host
{
  width: 100%;
  height: 100%;
}

.form-control
{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-height: 550px;
  max-width: 400px;
}

.row
{
  border-bottom: none;
}

@media only screen and (max-width: 600px)
{
  .form-control
  {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.kortnummer
{
  margin-top: -20px;
  align-self: center; 
  font-size: medium;
}

.text
{
  font-size: medium;
  margin-left: 70px;
}

.self-center
{
  font-size: medium;
}

.columnbtn
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px transparent;
  max-width: 105px;
}
