:host() {
  width: 100%;
  height: 100%;
}

.overlay-backdrop {
  opacity: 25%;
  background-color: grey;
}

.form-control
{
  opacity: 0;
  max-width: 500px;
  position: absolute!important;
  border: none;
}

.column-header {
	max-width: calc(100% - 65px);
	color: #fff;
}

.column-header > h2 {
	font-size: 1.5em;
	margin: 0;
}

.input-section {
	row-gap: 1em;
}

.form-header {
	justify-content: left;
	max-height: 50px;
	background-color: #015536!important;
	margin: 0!important;
}

svg {
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding-left: 10px;
	color: #fff;
	filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(208deg) brightness(114%) contrast(104%);
}

.form-row {
	align-items: baseline;
}

.flow-down {
	height: auto;
}

.form-input {
	max-width: 384px;
}

.form-input {
	margin: 0;
}

.card {
	display: flex;
	justify-content: center;
}

.card-credentials {
	display: grid;
	font-size: 16px;
	gap: 2rem;
	max-width: 400px;
	grid-template-columns: repeat(auto-fit, minmax(166.6px, 1fr));
}

.card-credentials > div > input {
	width: calc(100% - 16px);
}

.amount-selection {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.amount-grid {
	display: grid;
	font-size: 16px;
	max-width: 400px;
	max-height: 100px;
	grid-template-columns: repeat(3, minmax(127.5px, 1fr));
	grid-auto-rows: min-content;
	grid-gap: .5em;
	text-align: center;
	align-items: center;
}

.grid-item {
	background-color: #fff;
	text-align: center;
	color: black;
	font-size: 1em;
	font-weight: bold;
	border-radius: 50px;
	position: relative;
	border: 2px solid #015536;
	cursor: pointer;
	display:inline-block;
	z-index: 1;
	height: 35px;
	outline: none;
}

.grid-item > p {
	text-align: center;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	transition: 0.8s ease;
}

.grid-item .left {
	width: 51%;
	position: absolute;
	height: 100%;
	border-radius: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	top: 0;
	left: -1px;
	white-space:nowrap;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	z-index: 1;
}
.grid-item .right {
	width: 50.75%;
	position: absolute;
	height: 100%;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	top: 0;
	right: -1px;
	white-space:nowrap;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	z-index: 1;
}

.grid-item:hover {
	box-shadow: .5px .5px 10px -5px #015536;
}

.grid-item:focus > p {
	color: #fff;
}

.grid-item:focus .left {
	box-shadow: inset 100px 0 0 0 #015536;
}
.grid-item:focus .right {
	box-shadow: inset -100px 0 0 0 #015536;
}

.form-submit {
	width: 80%;
	border-radius: 50px;
	background-color: #F08000;
	/* color: #313233; */
	color: #fff;
	height: 2.25em;
	font-size: 1rem;
}

.form-submit:disabled {
	opacity: .4;
	cursor: not-allowed;
}

.row #change {
	background-color: #fff;
	border: 2px solid #015536;
	color: #015536;
}

.change {
	align-items: flex-end!important;
}

.submit-form {
	max-height: 120px;
}

#submit {
	max-height: 75px;
	height: auto;
}