:host
{
  height: 100%;
  width: 100%;
}

.form-control
{
  max-height: 650px;
  max-width: 400px;
  height: 100%;
  position: absolute!important;
  border: none;
}

.active 
{
  display: block!important;
}

.fa-xmark 
{
  padding: 5px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
}

.v-center 
{
	top: 57.5%!important;
}

.row
{
  margin: 0 auto;
  max-height: 200px;
  right: 0;
  left: 0;
  border-bottom: none;
}

@media only screen and (max-width: 600px)
{
  .form-control
  {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.kortnummer
{
  margin-top: -20px;
  align-self: center;
  font-size: medium;
}

.text
{
  font-size: medium;
}

.self-center
{
  font-size: medium;
}

.columnbtn
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px transparent;
  max-width: 105px;
}

.btn-secondary
{
  color: black; 
  margin: 40px;
}