:host {
  display: flex;
  height: calc(100vh - var(--full-header));
  background-image: url("../../../assets/media/casino.jpg");
}

form {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.form-header {
  background-color: red;
}

h1 {
  padding: 20px 10%;
  font-size: 24px;
  font-weight: 700;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 10%;
}

input[type="text"] {
  width: 100%;
  padding: 2% 2% 2% 2%;
  outline: none;
  border: 1px solid #e3e3e3;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #808080;
}

button[type="submit"] {
  height: 32px;
}
