<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-header">
		<h1>Kontakt os</h1>
	</div>
	<div class="form-body">
		<div class="input-group">
			<label for="Fullname">Fullname</label>
			<input type="text" id="Fullname" formControlName="Fullname">
		</div>
		<div class="input-group">
			<label for="Email">E-mail</label>
			<input type="text" id="Email" formControlName="Email">
		</div>
		<div class="input-group">
			<label for="Subject">Subject</label>
			<input type="text" id="Subject" formControlName="Subject">
		</div>
		<div class="input-group">
			<label for="Message">Message</label>
			<input type="text" id="Message" formControlName="Message">
		</div>
		<button>Indsend</button>
	</div>
</form>
