*
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


.form-control {
	width: 35vw;
	border: none;
	height: auto!important;
}

.main-container {
	padding: 20px;
	width: auto;
}

.form-header {
	justify-content: left;
	padding: 20px;
	margin: 0;
	padding-bottom: 0;
}

.form-header > h1{
	font: 400 32px / 32px 'Montserrat', sans-serif!important;
}


.form-input {
	max-width: calc(100% - 20px);
	margin-top: .5rem;
	border: 1px solid #e3e3e3;
	box-shadow: none;
	outline: none;
}

.input-section {
	display:block;
	text-align: left;
	max-width: 100%;
	width: 100%;
}

.form-textarea {
	max-height: 250px;
	height: 100px;
	resize: none;
	padding: 10px;
}

.submit-button {
	max-width: 150px;
	max-height: 50px;
	width: 100px;
	height: 50px;
}

.form-row input:focus {
	outline: none;
	border: 1px solid #808080 !important;
  }