<body>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-control v-center h-center">
		<div class="form-header">
			<h1>Kontakt os</h1>
		</div>
		<div class="main-container">
			<div class="form-row form-down">
				<div class="input-section">
					<input class="form-input" id="name" placeholder="Navn *" formControlName="Fullname">
				</div>
			</div>
			<div class="form-row form-down">
				<div class="input-section">
					<input class="form-input" id="email" placeholder="E-mail adresse *" formControlName="Email">
				</div>
			</div>
			<div class="form-row form-down">
				<div class="input-section">
					<input class="form-input" id="subject" placeholder="Emne *" maxlength="70" formControlName="Subject">
				</div>
			</div>
			<div class="form-row form-down">
				<div class="input-section" >
					<textarea class="form-input form-textarea" id="message" placeholder="Besked *" maxlength="300" formControlName="Message"></textarea>
				</div>
			</div>
			<div class="form-row form-down">
				<button type="submit" class="submit-button" [disabled]="!form.valid" >Send besked</button>
			</div>
		</div>
	</form>
</body>
