<div class="spacing"></div>
<form data-multi-step class="multi-step-form noselect" [formGroup]="form" (ngSubmit)="signUp()" [ngSwitch]="step">
  <div class="step-title" *ngSwitchCase="'1'">Trin 1 ud af 2</div>
  <div class="step-title" *ngSwitchCase="'2'">Trin 2 ud af 2</div>
  <div class="form-wrapper">
    <div class="form-content">
      <div class="form-input-container">
        <div class="input-title">Udfyld dine oplysninger nedenfor</div>
        <section class="input-section" *ngSwitchCase="'1'">
          <div class="input-group" formGroupName="credentials">
            <i class="fa fa-envelope"></i>
            <input
              type="text"
              placeholder="E-mail"
              formControlName="email"
              [ngClass]="{ 'is-invalid': credentials.controls['email'].errors && credentials.controls['email'].touched }"
            />

            <div *ngIf="credentials.controls['email'].errors && credentials.controls['email'].touched" class="invalid-feedback">
              <div *ngIf="credentials.controls['email'].errors['required']">Indtast en e-mail</div>
              <div *ngIf="credentials.controls['email'].errors['pattern']">Indtast en korrekt e-mail</div>
            </div>
          </div>

          <div class="input-group" formGroupName="credentials">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              placeholder="Adgangskode"
              formControlName="password"
              minlength="8"
              [ngClass]="{ 'is-invalid': credentials.controls['password'].errors && credentials.controls['password'].touched }"
            />

            <div *ngIf="credentials.controls['password'].errors && credentials.controls['password'].touched" class="invalid-feedback">
              <div *ngIf="credentials.controls['password'].errors['required']">Indtast en adgangskode</div>
              <div *ngIf="credentials.controls['password'].errors['minlength']">Adgangskode skal mindst have 8 tegn</div>
            </div>
          </div>

          <div class="input-group" formGroupName="credentials">
            <i class="fa fa-flag"></i>
            <input
              list="countries"
              type="text"
              placeholder="Land"
              formControlName="countryID"
              [ngClass]="{
                'is-invalid':
                  (credentials.controls['countryID'].errors && credentials.controls['countryID'].touched) ||
                  (credentials.controls['countryID'].touched && checkCountries() === undefined)
              }"
            />

            <datalist id="countries">
              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </datalist>
            <div
              *ngIf="
                (credentials.controls['countryID'].errors && credentials.controls['countryID'].touched) ||
                (credentials.controls['countryID'].touched && checkCountries() === undefined)
              "
              class="invalid-feedback">
              <div *ngIf="credentials.controls['countryID'].errors?.['required']">Indtast dit land</div>
              <div *ngIf="checkCountries() === undefined && !credentials.controls['countryID'].errors">Indtast et gyldigt land</div>
            </div>
          </div>

          <div class="input-group" formGroupName="credentials">
            <i class="fa fa-phone"></i>
            <input
              type="text"
              name="PhoneNumber"
              id="PhoneNumber"
              placeholder="Mobilnummer"
              formControlName="phoneNumber"
              minlength="8"
              maxlength="8"
              [ngClass]="{ 'is-invalid': credentials.controls['phoneNumber'].errors && credentials.controls['phoneNumber'].touched }"
            />

            <div *ngIf="credentials.controls['phoneNumber'].errors && credentials.controls['phoneNumber'].touched" class="invalid-feedback">
              <div *ngIf="credentials.controls['phoneNumber'].errors['required']">Indtast dit telefonnummer</div>
              <div *ngIf="credentials.controls['phoneNumber'].errors['minlength']">Skal mindst have 8 tegn</div>
            </div>
          </div>

          <div class="input-group buttons">
            <button type="button" [disabled]="credentials.errors || checkCountries() === undefined" (click)="goNext()">Næste</button>
          </div>
          <div class="input-group">
            <p class="login-text">Har du allerede en konto? <a routerLink="/login">Log ind</a></p>
          </div>
        </section>

        <section id="input-section-2" class="input-section" *ngSwitchCase="'2'">
          <div class="input-group" formGroupName="details">
            <div *ngIf="details.controls['cprNumber'].touched && details.controls['cprNumber'].errors" class="invalid-feedback">
              <div *ngIf="details.controls['cprNumber'].errors['required']">Indtast dit CPR nummer</div>
              <div *ngIf="details.controls['cprNumber'].errors['minlength']">CPR nummer skal have 10 tegn</div>
            </div>
            <input
              type="text"
              placeholder="Indtast venligst dit CPR nummer"
              formControlName="cprNumber"
              [ngClass]="{ 'is-invalid': details.controls['cprNumber'].errors && details.controls['cprNumber'].touched }"
            />
          </div>

          <div class="input-group" formGroupName="details">
            <div *ngIf="details.controls['firstName'].errors && details.controls['firstName'].touched" class="invalid-feedback">
              <div *ngIf="details.controls['firstName'].errors['required']">Indtast dit fornavn</div>
            </div>
            <input
              type="text"
              placeholder="Fornavn"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': details.controls['firstName'].errors && details.controls['firstName'].touched }"
            />
          </div>

          <div class="input-group" formGroupName="details">
            <div *ngIf="details.controls['lastName'].errors && details.controls['lastName'].touched" class="invalid-feedback">
              <div *ngIf="details.controls['lastName'].errors['required']">Indtast dit efternavn</div>
            </div>
            <input
              type="text"
              placeholder="Efternavn"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': details.controls['lastName'].errors && details.controls['lastName'].touched }"
            />
          </div>

          <div class="input-group" formGroupName="details">
            <div
              *ngIf="
                (details.controls['address'].errors && details.controls['address'].touched) ||
                (details.controls['zipCodeID'].errors && details.controls['zipCodeID'].touched)
              "
              class="invalid-feedback">
              <span>Indtast din adresse og postnummer</span>
            </div>
            <div class="input-group location">
              <input
                type="text"
                name="Address"
                id="address"
                placeholder="Adresse"
                formControlName="address"
                [ngClass]="{ 'is-invalid': details.controls['address'].errors && details.controls['address'].touched }"
              />

              <input
                type="text"
                name="ZipCode"
                id="zipcode"
                placeholder="Postnr"
                formControlName="zipCodeID"
                minlength="4"
                maxlength="4"
                [ngClass]="{ 'is-invalid': details.controls['zipCodeID'].errors && details.controls['zipCodeID'].touched }"
              />
            </div>
          </div>

          <div class="input-group">
            <div *ngIf="checkGender() && form.controls['acceptTerms'].touched" class="invalid-feedback">
              <span>Vælg køn</span>
            </div>

            <div class="gender">
              <div class="gender-button" id="gender-button-0" (click)="setGender(1)">
                <i class="fa fa-mars" type="icon"></i>
                <input type="button" />
                <span type="span">Mand</span>
              </div>

              <div class="gender-button" id="gender-button-1" (click)="setGender(2)">
                <i class="fa fa-venus" type="icon"></i>
                <input type="button" />
                <span type="span">Kvinde</span>
              </div>
            </div>
          </div>

          <div class="input-group rights buttons">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="check"
                formControlName="acceptTerms"
                [ngClass]="{ 'is-invalid': form.controls['acceptTerms'].errors && form.controls['acceptTerms'].touched }"
              />
            </div>

            <div class="checkbox-text">Ved at afkrydse dette felt bekræfter jeg, at jeg er over 18 år</div>
          </div>
          <div class="input-group">
            <button type="submit" [disabled]="form.errors && checkGender()">Opret Konto</button>
          </div>
        </section>
      </div>

      <div class="form-information-container">
        <div class="information-picture"></div>
        <div class="information-text">
          <div class="group-text">
            <div class="text-header">Vælg mellem 2 forskellige velkomsttilbud</div>
            <div class="text-content">Ved oprettelse af en konto hos TEC-Kasino kan du vælge mellem to velkomstbonusser ved første indbetaling.</div>
          </div>
          
          <div class="offer">
            TEC-Kasino velkomsttilbud:
            <ul>
              <li>100% oveni din første indbetaling, op til 1.000 kr.</li>
              <li>Få hele din første indbetaling tilbage, hvis du skulle være uheldig. Går op til 500 kr.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="spacing"></div>
