:host {
  width: 100%;
  display: block;
  height: auto;
  background-image: url("../../../assets/casinoblur.jpg");
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.multi-step-form {
  max-width: 45%;
  height: auto;
  margin: auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: black 0px 0px 100px 5px;
}

.form-wrapper {
  padding: 20px;
}

.form-content {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 7.5%;
}

.form-content > * {
  flex-basis: 50%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-title {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
}

.input-section {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-group {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.input-group > input[type="text"],
.input-group > input[type="password"] {
  width: 100%;
  padding: 4.5% 4.5% 4.5% 18%;
  outline: 0;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}

#input-section-2 > .input-group > input[type="text"],
.location > input[type="text"] {
  padding-left: 1em;
}

.input-group > input:focus {
  border: 1px solid #808080;
}

.input-group > i {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 15px;
  color: #e0e0e0;
}

.login-text {
  text-align: center;
}

.login-text > a {
  color: #015536;
  text-decoration: underline;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.location > #address {
  width: 75%;
}

.location > #zipcode {
  width: 25%;
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.gender > * {
  flex: 1;
}

.gender-button {
  position: relative;
  width: 100%;
}

.gender-button > i {
  font-size: 1em;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gender-button > input {
  width: inherit;
  padding: 12.5%;
  border: 1px solid #e3e3e3;
  background-color: transparent;
  outline: none;
}

.gender-button > span {
  font-size: 1em;
  cursor: default;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active[type="icon"] {
  color: #249752 !important;
}

.active[type="button"] {
  border: 1px solid #7dc198 !important;
}

.active[type="span"] {
  color: #249752 !important;
}

.buttons > button,
button[type="submit"] {
  width: 100%;
  font-size: 1em;
  padding: 4%;
  border-radius: 50px;
  color: #313233;
  font-weight: 800;
  background-color: #f08000;
  border: 3px solid #f08000;
  cursor: pointer;
}

.step-title {
  color: white;
  line-height: 1;
  text-align: center;
  font-size: 1.3rem;
  background-color: #015536;
  padding: 2.5%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.rights {
  display: flex;
  flex-direction: row;
}

.checkbox-container {
  width: 10%;
}

.checkbox-text {
  width: 90%;
}

.invalid-feedback {
  color: red;
  font-size: 0.6rem;
  text-align: left;
}

.is-invalid {
  background-color: #ffeeeb;
  border: 1px solid #f00;
  color: #ff0000;
}

.information-picture {
  background-image: url("../../../assets/media/casino.jpg");
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-header {
  padding-top: 2.5%;
  font-size: 18px;
  font-weight: 500;
}

.text-content {
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 5% 0;
}

.offer {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5;
}

.offer > ul {
  padding: 5%;
}

@media (max-width: 1600px) {
  .input-group > input[type="text"],
  .input-group > input[type="password"] {
    padding-left: 1em;
  }
  .input-group > i {
    font-size: 0px;
  }
}

@media (max-width: 1200px) {
  .gender-button > i {
    font-size: 0;
  }
  .multi-step-form {
    max-width: 55%;
  }
  .form-content {
    gap: 3.75%;
  }
}

@media (max-width: 768px) {
  .multi-step-form {
    max-width: 85%;
  }
}

@media (max-width: 480px) {
  .multi-step-form {
    max-width: 100%;
  }
}
