<div class="spacing"></div>
<form data-multi-step class="multi-step-form noselect" [formGroup]="form" (ngSubmit)="signUp()" [ngSwitch]="step">
  <div class="step-title" *ngSwitchCase="'1'">Trin 1 ud af 2</div>
  <div class="step-title" *ngSwitchCase="'2'">Trin 2 ud af 2</div>
  <div class="form-wrapper">
    <div class="form-content">
      <div class="form-input-container">
        <div class="input-title">Udfyld dine oplysninger nedenfor</div>
        <section class="input-section" *ngSwitchCase="'1'">
          <div class="input-group">
            <i class="fa fa-envelope"></i>
            <input type="text" placeholder="E-mail" formControlName="email" [ngClass]="{ 'is-invalid': nextSubmit && f['email'].errors }" />

            <div *ngIf="nextSubmit && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Indtast en e-mail</div>
              <div *ngIf="f['email'].errors['pattern']">Indtast en korrekt e-mail</div>
            </div>
          </div>
          <div class="input-group">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              placeholder="Adgangskode"
              formControlName="password"
              minlength="8"
              [ngClass]="{ 'is-invalid': nextSubmit && f['password'].errors }"
            />

            <div *ngIf="nextSubmit && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Indtast en adgangskode</div>
              <div *ngIf="f['password'].errors['minlength']">Adgangskode skal mindst have 8 tegn</div>
            </div>
          </div>
          <div class="input-group">
            <i class="fa fa-flag"></i>
            <input type="text" placeholder="Land" formControlName="countryID" [ngClass]="{ 'is-invalid': nextSubmit && f['countryID'].errors }" />
            <div *ngIf="nextSubmit && f['countryID'].errors" class="invalid-feedback">
              <div *ngIf="f['countryID'].errors['required']">Indtast dit land</div>
            </div>
          </div>
          <div class="input-group">
            <i class="fa fa-phone"></i>
            <input
              type="text"
              name="PhoneNumber"
              id="PhoneNumber"
              placeholder="Mobilnummer"
              formControlName="phoneNumber"
              minlength="8"
              maxlength="8"
              [ngClass]="{ 'is-invalid': nextSubmit && f['phoneNumber'].errors }"
            />

            <div *ngIf="nextSubmit && f['phoneNumber'].errors" class="invalid-feedback">
              <div *ngIf="f['phoneNumber'].errors['required']">Indtast dit telefonnummer</div>
              <div *ngIf="f['phoneNumber'].errors['minlength']">Skal mindst have 8 tegn</div>
            </div>
          </div>

          <div class="input-group buttons">
            <button type="button" (click)="goNext()">Næste</button>
          </div>
          <div class="input-group">
            <p class="login-text">Har du allerede en konto? <a routerLink="/login">Log ind</a></p>
          </div>
        </section>
        <section id="input-section-2" class="input-section" *ngSwitchCase="'2'">
          <div class="input-group">
            <div *ngIf="submitted && f['cprNumber'].errors" class="invalid-feedback">
              <div *ngIf="f['cprNumber'].errors['required']">Indtast dit CPR nummer</div>
              <div *ngIf="f['cprNumber'].errors['minlength']">CPR nummer skal have 10 tegn</div>
            </div>
            <input
              type="text"
              placeholder="Indtast venligst dit CPR nummer"
              formControlName="cprNumber"
              [ngClass]="{ 'is-invalid': submitted && f['cprNumber'].errors }"
            />
          </div>
          <div class="input-group">
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
              <div *ngIf="f['firstName'].errors['required']">Indtast dit fornavn</div>
            </div>
            <input type="text" placeholder="Fornavn" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
          </div>
          <div class="input-group">
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
              <div *ngIf="f['lastName'].errors['required']">Indtast dit efternavn</div>
            </div>
            <input type="text" placeholder="Efternavn" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
          </div>

          <div class="input-group">
            <div *ngIf="(submitted && f['address'].errors) || (submitted && f['zipCodeID'].errors)" class="invalid-feedback">
              <span>Indtast din adresse og postnummer</span>
            </div>
            <div class="input-group location">
              <input
                type="text"
                name="Address"
                id="address"
                placeholder="Adresse"
                formControlName="address"
                [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
              />
              <input
                type="text"
                name="ZipCode"
                id="zipcode"
                placeholder="Postnr"
                formControlName="zipCodeID"
                minlength="4"
                maxlength="4"
                [ngClass]="{ 'is-invalid': submitted && f['zipCodeID'].errors }"
              />
            </div>
          </div>

          <div class="input-group">
            <div *ngIf="checkGender() && submitted" class="invalid-feedback">
              <span>Vælg køn</span>
            </div>
            <div class="gender">
              <div class="gender-button" id="gender-button-0" (click)="setGender(1)">
                <i class="fa fa-mars" type="icon"></i>
                <input type="button" />
                <span type="span">Mand</span>
              </div>
              <div class="gender-button" id="gender-button-1" (click)="setGender(2)">
                <i class="fa fa-venus" type="icon"></i>
                <input type="button" />
                <span type="span">Kvinde</span>
              </div>
            </div>
          </div>
          <div class="input-group rights buttons">
            <div class="checkbox-container">
              <input type="checkbox" name="check" formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f['zipCodeID'].errors }" />
            </div>
            <div class="checkbox-text">Ved at afkrydse dette felt bekræfter jeg, at jeg er over 18 år</div>
            <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
              <div *ngIf="f['acceptTerms'].errors['required']">* You must accept your rights</div>
            </div>
          </div>
          <div class="input-group">
            <button type="submit">Opret Konto</button>
          </div>
        </section>
      </div>
      <div class="form-information-container">
        <div class="information-picture"></div>
        <div class="information-text">
          <div class="group-text">
            <div class="text-header">Vælg mellem 2 forskellige velkomsttilbud</div>
            <div class="text-content">Ved oprettelse af en konto hos TEC-Kasino kan du vælge mellem to velkomstbonusser ved første indbetaling.</div>
          </div>
          <div class="offer">
            TEC-Kasino velkomsttilbud:
            <ul>
              <li>100% oveni din første indbetaling, op til 1.000 kr.</li>
              <li>Få hele din første indbetaling tilbage, hvis du skulle være uheldig. Går op til 500 kr.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="spacing"></div>
