:host {
  width: 100%;
  display: block;
  background-image: url("../../../assets/casinoblur.jpg");
}

.multi-step-form {
  max-width: 40%;
  height: auto;
  margin: auto;
  background-color: #fff;
  border-radius: 7px;
  border: none;
}

.form-wrapper {
  padding: 20px;
}

.form-content {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.form-content > * {
  flex-basis: 50%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-title {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
}

.input-section {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-group {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.input-group > input[type="text"] {
  width: 100%;
  padding: 4.5% 4.5% 4.5% 18%;
  outline: 0;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}

#input-section-2 > .input-group > input[type="text"],
.location > input[type="text"] {
  padding-left: 1em;
}

.input-group > input:focus {
  border: 1px solid #808080;
}

.input-group > i {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 15px;
  color: #e0e0e0;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.location > #address {
  width: 75%;
}

.location > #zipcode {
  width: 25%;
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.gender > * {
  flex: 1;
}

.gender-button {
  position: relative;
  width: 100%;
}

.gender-button > i {
  font-size: 1em;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gender-button > input {
  width: inherit;
  padding: 12.5%;
}

.gender-button > span {
  font-size: 1em;
  cursor: default;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  border: 1px solid #7dc198;
  color: #249752;
  background-color: #ebf6ef;
  outline: none;
}

.active-i {
  color: #249752;
  background-color: #ebf6ef;
}

.information-picture {
  background-image: url("../../../assets/media/casino.jpg");
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

button[type="submit"] {
  width: 100%;
  font-size: 1em;
  padding: 4%;
  border-radius: 50px;
  color: #313233;
  font-weight: 800;
  background-color: #f08000;
  border: 3px solid #f08000;
  cursor: pointer;
}

.step-title {
  color: white;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: center;
  font-size: 1.3rem;
  background-color: #015536;
  height: 40px;
  padding-top: 20px;
  border-bottom: 1px solid #015536;
}

.gender-input-container > input:focus {
  outline: none;
  border: 1px solid #808080;
}

.gender-buttons {
  width: 100%;
  height: 70px;
  display: flex;
  gap: 0.5em;
}

.gender-buttons input {
  width: 100%;
  height: 100%;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 2.5px;
}

.rights input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.rights input[type="checkbox"]:disabled {
  outline: none;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.gender-input-container:focus-within {
  color: #249752 !important;
}

.billed {
  width: 50%;
  height: 100px;
  background-color: black;
  float: right;
}

.invalid-feedback {
  color: red;
  font-size: 0.6rem;
  text-align: left;
}

form {
  box-shadow: black 0px 0px 100px 5px;
}

.form-group > p > a {
  color: #015536;
  border: none;
  background: none;
  font-size: 14px;
  text-decoration: underline;
}

.is-invalid {
  background-color: #ffeeeb;
  border: 1px solid #f00 !important;
  color: #ff0000;
}

.form-group > input:focus {
  border: 1px solid #808080;
}

.gender-input-container {
  position: relative;
  flex: 1;
}

.gender-input-container > input {
  padding-bottom: 20px;
}

.gender-input-container > i {
  opacity: 20%;
  position: absolute;
  top: 55%;
  left: 46%;
}

@media (max-width: 1200px) {
  .gender-button > i {
    font-size: 0;
  }
  .multi-step-form {
    max-width: 60%;
  }
}

@media (max-width: 960px) {
  .multi-step-form {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .multi-step-form {
    max-width: 85%;
  }
}

@media (max-width: 480px) {
  .multi-step-form {
    max-width: 100%;
  }
}
