<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Tilmed.css">
</head>
<body> -->

<div class="NæsteTilmed">  
    
  <form>      
    <div class="Næste">  
      <input type="text"  id="CPR" name="mail" placeholder="Indtast CPR nummer"> 
      <input type="text"  id="Fornavn" name="mail"placeholder="Fornavn">    

      <input type="text"  id="Efternavn" name="mail"placeholder="Efternavn">    

      <input type="text"  id="Gade" name="mail" placeholder="Gade">  
      <input type="text"  id="Postnummer" name="mail" placeholder="Postnummer">   
      <input type="text"  id="By" name="mail" placeholder="By"> 
      <p>Forventet månedsforbrug</p>
      <input type="text"  id="beløb" name="mail" placeholder="Indtast beløb"> 
      <input type="text"  id="Mand" name="mail" placeholder="Mand"> 
      <input type="text"  id="Dame" name="mail" placeholder="Dame"> 
       <button type="submit" name="log" id="log"><a routerLink="kontokonformation" >Opret konto</a></button> 
       
      </div>
  </form>

<!-- </div>  
</body>
</html>    -->
