

  /* css code for tilmednext page */
  #CPR{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;

  }

  #Fornavn{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Efternavn{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Gade{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Postnummer{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
}
#By{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px; 
}
#beløb{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Mand{
    width: 142px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
}
#Dame{
    width: 142px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
    
}
#log{
    width: 150px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 15px;
    margin-top: 30px; 
    background-color: rgb(199, 78, 22);
}
.NæsteTilmed{
    position: fixed;
    top: 20%;
    left: 35%;
}
.Næste{
    background-color: rgb(148, 56, 56);
    width: 300px;
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
    width: 312px;  
    height: 500px;
}
p{
    font-size: 14px;
}