*.cache
*.sentinel
*.suo
*.props
*.editorconfig
*.pdb
TEC-KasinoAPI/obj/project.assets.json
TEC-KasinoAPI/obj/TEC-KasinoAPI.csproj.nuget.dgspec.json
Website/Kasino/.vscode/settings.json
Website/.vscode/settings.json
TEC-KasinoAPI/obj/project.assets.json
TEC-KasinoAPI/obj/TEC-KasinoAPI.csproj.nuget.dgspec.json
