@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:host {
  height: auto;
  display: inline-block;
}

h2,
h3,
h4 {
  margin: 0;
}

h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  color: #838383;
  font-size: 0.8125rem;
  font-weight: 500;
  padding-right: 1pc;
  line-height: 1;
}

.back-drop {
  display: none;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.sidenav {
  z-index: 1001;
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
}

.active {
  display: block !important;
}

.sidenav-content {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
}

.sidenav-list {
  width: 100%;
  height: 50%;
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

p {
  margin: 0;
}

.sidenav-item {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.sidenav-item > a {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.sidenav-item > span {
  margin-left: 0.25rem;
}

.sidenav-item > a > i {
  margin-right: 0.5rem;
}

.sidenav-info {
  text-align: left;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #222;
  line-height: 1pc;
}

.sidenav-info > a > span {
  padding-left: 1pc;
  padding-right: 3pc;
}

.sidenav-item > a > i {
  width: 50px;
  color: green;
  font-size: 1.6rem;
}

.sidenav-item:hover {
  background-color: hsla(0, 0%, 82.7%, 0.5);
}

#help {
  border-top: 1px solid #808080;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.open {
  display: block !important;
}

.fill-row {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.divider {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  display: block;
}

#account-panel {
  width: 340px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1001;
  opacity: 0;
}

.top-panel {
  background-color: #05372c;
  padding: 2pc 1pc 0;
}

.account-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 0.5pc 0;
}

#add-balance {
  border-radius: 50px;
  background-color: #e78553;
  color: #313233;
  line-height: 24px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 1pc;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  float: right;
}

.balance-panel {
  padding: 0.5pc 0;
}

.balance-display {
  background-color: #144d2c;
  height: 4pc;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fcd500;
  text-align: center;
}

.balance-display > span {
  width: 155px;
}

.account-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account-item {
  width: 100%;
  padding: 0 1pc;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.account-item:hover {
  background-color: hsla(0, 0%, 82.7%, 0.5);
}

.account-item > span {
  float: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #222;
}

.account-item > i {
  font-size: 18px;
  position: absolute;
  right: 1pc;
}

.list-divider {
  border-top: 1px solid #ddd;
  width: 100%;
}
