<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>
<div class="back-drop" id="backdrop" (click)="closeSideNav();">
</div>
<div class="sidenav" id="sideNav" [@openSidenav]="isSidenavOpen ? 'open' : 'closed'">
  <div class="sidenav-content">
    <ul class="sidenav-list">
      <li class="sidenav-item"><a routerLink=""><i class="fa fa-house"></i><span>Forside</span></a></li>
      <li class="sidenav-item"><a routerLink="konto"><i class="fa fa-user"></i><span>Konto</span></a></li>
      <li class="sidenav-item"><a routerLink="/indstillinger"><i class="fa fa-gear"></i><span>Indstillinger</span></a></li>
      <li class="sidenav-item sidenav-info"><a routerLink="support"><span>Help Center</span></a></li>
      <li class="sidenav-item sidenav-info"><a routerLink="kontakt"><span>Kontakt os</span></a></li>
      <li class="sidenav-item sidenav-info"><a routerLink="om-os"><span>Om os</span></a></li>
      <li class="sidenav-item sidenav-info"><a routerLink="/reglerOgBetingelser"><span>Regler og Betingelser</span></a></li>
    </ul>
  </div>
</div>

<div class="container">
  <app-header (onSideNavToggle)="openSideNav()"></app-header>
  <div class="fill-row">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <a routerLink="">
    <img  id="logo" src="../../../assets/media/tec-logo.svg" width="150px" style="margin: 10px;">
  </a>
  <p class="footer-text">
    TEC-Kasino er vores prisbelønnede værktøj, 
    der hjælper vores spillere med at opnå en sund og positiv spiloplevelse. Ved hjælp af vores innovative TEC-Kasino værktøj, 
    kan spilleren vurdere sin spilleadfærd, og finde ud af om den er sund eller risikabel. Værktøjet består af en simpel multiple-choice selvvurderingstest, 
    som vi kombinerer med vedkommendes individuelle spilledata, for at beregne en adfærdsprofil. Denne data anvendes derefter, 
    til at skabe en skræddersyet anbefaling til spilleren.
  </p>
    <div class="coloum" style="margin-top: 25px;">
      <a href="https://www.spillemyndigheden.dk/"><img src="../assets/media/Spillemyndigheden.png" alt="Spillemyndigheden" style="margin-bottom: 10px; margin-left: 30px;"></a>
      <a href="https://www.stopspillet.dk/"><img src="../assets/media/stopspillet.png" alt="stopspillet" width="100px" style="margin-left: 40px; margin-bottom: 20px;"></a>
      <img src="../assets/media/18.png" alt="18" width="75px" style="margin-left: 40px; margin-bottom: 10px;">
      <p class="footer-text" style="width: 1450px; float: right;">
        Onlinespil kan være vanedannende og skadeligt. Spil ansvarligt og med måde. Betragt ikke onlinespil som en måde du kan tjene penge, 
        og spil kun med penge du kan tåle at miste. Onlinespil skal kun betragtes som sjov underholdning, og ikke en måde at skabe en indtægt. 
        Bevar kontrollen over dit spil med TEC-Kasino, og brug også dette til at sætte grænser for dit spil eller tage længere pauser. 
        For mere information omkring TEC-Kasino, besøg TEC-Kasino.dk. Hvis du er bekymret over dine eller andres spillevaner, kontakt Ludomani, 
        udeluk dig via ROFUS eller kontakt spillemyndighedens hjælpelinje StopSpillet: 70 22 28 25. Minimumsalderen for spil på nettet er 18 år. 
        Dette gælder selvfølgelig også hos TEC-Kasino.
      </p>
    </div>
  </div>

