:host {
	--field-min-width: 40%;
	position: relative;
}

.input-fieldmenu {
	width: 100%;
	font-size: 1.5rem;
}

.input-fieldmenu-wrapper {
	position: absolute;
	display: flex;
	z-index: 1;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem;
	background-color: #444;
	width: var(--field-min-width);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

#new-category {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
}

#new-category-input {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.add-category-input > * {
	width: 100%;
	border-radius: 0.25rem;
	display: none;
}

.add-category-input > button {
	background-color: rgb(0, 132, 255);
	color: #fff;
	border-start-end-radius: 0;
	border-start-start-radius: 0;
	padding: 0.25rem;
}

.add-category-input > input {
	border-end-start-radius: 0;
	border-end-end-radius: 0;
}

#fieldmenu-option.expanded > .add-category-input > * {
	display: block;
}

#fieldmenu-option.expanded > #fieldmenu-new-category-button {
	display: none;
}

#fieldmenu-option.expanded > #fieldmenu-expand-button {
	display: none;
}

#fieldmenu-option.expanded {
	flex-direction: column;
}

#new-category-button > i {
	cursor: pointer;
	font-size: 3rem;
	color: rgb(0, 132, 255);
	z-index: 1;
}

#new-category-button {
	align-self: flex-start;
}

#fieldmenu-new-category-button > i {
	cursor: pointer;
	font-size: 1.5rem;
	color: rgb(0, 132, 255);
	z-index: 1;
}

#fieldmenu-option {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.input-fieldmenu-wrapper > #fieldmenu-option > #fieldmenu-button {
	border-radius: 0.25rem;
	border: none;
	outline: none;
	user-select: none;
	padding: 0.25rem;
	background-color: var(--input-background-color);
	flex: auto;
}

.input-fieldmenu-btn {
	background-color: #1976d2;
	color: white;
	padding: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	width: var(--field-min-width);
	position: relative;
	box-shadow: black 2px 0px 4px -2px;
	display: flex;
	align-items: center;
	justify-content: center
}

input {
	outline: none;
	user-select: none;
	border: none;
	background-color: var(--input-background-color);
	border-radius: 0.5rem;
	padding: 0.4rem;
}

#selection {
	padding-left: 10%;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 35%;
	width: 65%;
	transform: translate(0, -50%);
}

svg {
	width: 2rem;
}

svg > path {
	fill: #fff;
}

.expanded > .input-fieldmenu-btn > svg {
	transform: rotate(90deg);
}

.expanded .input-fieldmenu-btn {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
