.form-control
{
  max-height: 510px;
  max-width: 400px;
  position: absolute!important;
  border: none;
}

.row
{
  border-bottom: none;
}

.kortnummer
{
  margin-top: -20px;
  align-self: center; 
  font-size: medium;
}

.text
{
  font-size: medium;
  margin-left: 70px;
}

.self-center
{
  font-size: medium;
}

.columnbtn
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  position: relative;
  text-align: center;
  border: 2px transparent;
  max-width: 105px;
}

.fa-xmark {
  padding: 5px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
}
