<form id="indbetalForm" method="post" class="form-control h-center v-center">
	<div class="form-header bg-green">
		<svg xmlns="http://www.w3.org/2000/svg" class="v-center" size="system" viewBox="0 0 48 48" preserveAspectRatio="xMinYMin meet"><path data-path="close" fill-rule="evenodd" d="M38,12.8 L35.2,10 L24,21.2 L12.8,10 L10,12.8 L21.2,24 L10,35.2 L12.8,38 L24,26.8 L35.2,38 L38,35.2 L26.8,24 L38,12.8 Z"></path></svg>

		<div class="column column-header">
			<h2>Indbetaling</h2>
		</div>
	</div>
	<br>
	<div class="column flow-down input-section">
		<div class="form-row flow-down">
			<label for="" class="form-label">Kortholders navn</label>
			<input class="form-input">
		</div>
		<div class="form-row flow-down">
			<label for="" class="form-label">Kortnummer</label>
			<input class="form-input">
		</div>
		<div class="form-row center card">
			<div class="form-row card-credentials">
				<div class="form-row flow-down">
					<label for="" class="form-label">Udløbsdato</label>
					<input class="form-input">
				</div>
				<div class="form-row flow-down">
					<label for="" class="form-label">Kontrolcifre/CVV</label>
					<input class="form-input">
				</div>
			</div>
		</div>
		<div class="form-row flow-down">
			<label for="" class="form-label">Beløb</label>
			<input class="form-input">
		</div>
	</div>
	<br>
	<div class="amount-selection">
		<div class="amount-grid">
			<button class="grid-item" (click)="amount = 100"><span class="left"></span><p>100 kr</p><span class="right"></span></button>
			<button class="grid-item" (click)="amount = 150"><span class="left"></span><p>150 kr</p><span class="right"></span></button>
			<button class="grid-item" (click)="amount = 250"><span class="left"></span><p>250 kr</p><span class="right"></span></button>
			<button class="grid-item" (click)="amount = 500"><span class="left"></span><p>500 kr</p><span class="right"></span></button>
			<button class="grid-item" (click)="amount = 1000"><span class="left"></span><p>1000 kr</p><span class="right"></span></button>
			<button class="grid-item" (click)="amount = 2500"><span class="left"></span><p>2500 kr</p><span class="right"></span></button>
		</div>
	</div>
	<div class="column flow-down">
		<div class="row center">
			<button id="submit" class="form-submit">Indbetal {{amount}} kr på min konto</button>
		</div>
		<div class="row center">
			<button id="change" class="form-submit">Indstil indbetalingsgrænse</button>
		</div>

	</div>
</form>
