/* You can add global styles to this file, and also import other style files */
*
{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
