.input-field {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input-field > * {
	font-size: 1.5rem;
}

.input-field > label {
	color: var(--text-color);
	margin-left: 1.5rem;
}

.input-field > input {
	border-radius: 2rem;
	background-color: var(--input-background-color);
	border: none;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	outline: none;
}

.input-field > #index {
	position: absolute;
	background-color: transparent;

	right: 0;
	bottom: 0;
	width: 4.5rem;
}

.input-field-static {
	display: none;
}
