.deaktiver-container {
	max-width: 300px;
	position: absolute;
	top: 50px!important;
	max-height: 300px;
	border: 1px solid #fff;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	opacity: 0;
}

.deaktiver-header {
	height: 40px;
	text-align: center;
}

.deaktiver-buttons {
	display:grid;
	grid-template-columns: repeat(2, minmax(calc(150px - 10px - .5em), 1fr));
	height: 50px;
	grid-gap: .5em;
	text-align: center;
	align-items: center;
}

.deaktiver-buttons > button {
	height: 40px;
	border-radius: 30px;
	outline: none!important;
	box-shadow: none;
	border: none;
	font-size: 1.25em;
	font-weight: 500;
}

.deaktiver-buttons > #deaktiver {
	background-color: #e78553;
	color: #fff;
}
.deaktiver-buttons > #deaktiver:hover {
	box-shadow: .5px .5px 10px #e78553;
  cursor: pointer;
}

.deaktiver-buttons > #close-deaktiver {
	background-color: #d3d3d3;
	color: black;
  cursor: pointer;
}

.deaktiver-buttons > #close-deaktiver:hover {
	box-shadow: .5px .5px 10px #d3d3d3;
}