:host()
{
	width: 100%;
	height: 90%;
}

.bg-image
{
  background-image: url('../../../assets/media/casino.jpg');
  position: absolute;
	width: 100%;
	/* Add the blur effect */
	filter: blur(3px);
	-webkit-filter: blur(3px);
	transform: scale(1.01);
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	outline: none!important;
}
