

/* Container for columns and the top "toolbar" */
.row {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background: darkgray;
    border-bottom: 2px solid black;
    text-align: left;
    
  }

  /* Create three unequal columns that floats next to each other */
.column {
    float: left; 
  }
  
  .left {
    width: 50%;
  }
  
  
  /* Clear floats after the columns */
  .row::before {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* Three dots */
  .dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
   /* background-color: #bbb;*/
    border-radius: 50%;
    display: inline-block;
    
  }
  .columnTec{
      text-align: center;
  }
  .far{
    font-size: 20px;
  }
i{
   font-size: 20px;
}

.Tilmed{
    position: fixed;
    top: 20%;
    left: 35%;
    /* background-color: green; */
 }



.Tilmed{
    background-color: rgb(70, 91, 105);
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    width: 325px;  
    height: 600px;
   /* background-color: green; */
}

/* .columnTec{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid gray;
    text-align: center;
} */
h1{
    text-align: center;
    margin-top: 10px;
}
p{
    font-size: 18px;
    margin-top: 20px;
}

label{
    font-size: 18px;
    margin-top: 20px;
   
}

#name{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}

#phone{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}

#adress{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}

#log{
    width: 100px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 8px;
    margin-top: 10px;
    background-color: rgb(218, 129, 14);
}
#logs{
    width: 100px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 8px;
    margin-top: 10px;
    background-color: white;
    color: green;
    border-color: green;
}
#loge{
    width: 100px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 8px;
    margin-top: 10px;
    background-color: green;
}
#logg{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 8px;
    margin-top: 40px;
    background-color: green;

}
#loggs{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 8px;
    margin-top: 20px;
    background-color: rgb(240, 133, 12);
}