.header-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #0d47a1;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

p {
  display: none;
}

#logo {
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg)
    brightness(104%) contrast(104%);
  max-width: 8rem;
  padding-bottom: 1rem;
}

#sidebar-btn {
  padding: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  display: block;
}

#sidebar-btn > svg {
  width: 24px;
  height: 24px;
  font-weight: 500;
}

svg > path {
  fill: #fff;
}

#search-input {
  border-radius: 1rem;
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: none;
  color: rgb(68, 68, 68);
  margin-left: auto;
  margin-right: 1rem;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 6px;
  display: none;
}
