

<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Tilmed.css"> -->


<div class="container">
  <div class="row">

      <span class="dot" style="background:#ED594A;"></span>
      <span class="dot" style="background:#FDD800;"></span>
      <span class="dot" style="background:#5AC05A;"></span>
        <P> TEC-Kasino/Signup </P> 
        
    
  </div>
  
<div class="Tilmed">   
  <form>      
    <div class="Box">  
      <input type="text" id="Email" name="mail" placeholder="E-mail">    
      
      
      <input type="Password"  id="psw" name="psw" placeholder=" Password">    
       
      
      <input type="text" id="land" name="land"  placeholder="Land">    
      

      <input type="text" id="tlf" name="mobile" placeholder="mobile">    
      
      <input type="checkbox" id="Ck" name="Checkbox" >
      <label> Ved at afkrydse dette felt bekræfter jeg at jeg er over 18 år</label><br>

      <!-- reamber to change type there should be submit button -->
      <!-- <button type="submit" name="log" id="log" >Næste</button>  -->

     
      <button type="submit" id="sub" name="Submit"><a routerLink="tlmdnextpage">Næste</a></button> 
        <p>har du allerede en konto? <a routerLink="login">Log ind</a></p>  
      </div>
  </form>
  
