

/* Container for columns and the top "toolbar" */
.row {
 
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background: darkgray;
    height: 40px;
  }
  p1{
     padding: 750px;
      font-size: 20px;
  }

  
  
  /* Three dots */
 
.dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    
  }
 .Tilmed{
    position: fixed;
    top: 20%;
    left: 35%;
    /* background-color: green; */
 }
 .Box{
    background-color: rgb(148, 56, 56);
    width: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    width: 312px;  
    height: 300px;
 }
 #Email{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
 }
#psw{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#land{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#tlf{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Ck{
    margin-top: 20px;
}
#sub
{
  
    margin-top: 20px;
    display:inline-block;
    color:white;
    padding: 5px;
    height: 30px;  
    /* we can use margin distance like  margin: 3px 0; */
    border: none;
    cursor: pointer;
    border-radius: 30px;
  background-color: rgb(241, 118, 3);
 
}
#sub{
    text-align: center;
    width: 50%
    
}
  p{
      font-size: 15px;
      padding: 5px;
  }

  /* css code for tilmednext page */
  #CPR{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;

  }

  #Fornavn{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Efternavn{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Gade{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Postnummer{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
}
#By{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px; 
}
#beløb{
    width: 300px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;
}
#Mand{
    width: 142px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
}
#Dame{
    width: 142px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;  
    
}
#log{
    width: 150px;  
    height: 30px;  
    border-width: 1px;  
    border-radius: 30px;  
    padding-left: 15px;
    margin-top: 30px; 
    background-color: rgb(199, 78, 22);
}
.NæsteTilmed{
    position: fixed;
    top: 20%;
    left: 35%;
}
.Næste{
    background-color: rgb(148, 56, 56);
    width: 300px;
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
    width: 312px;  
    height: 500px;
}
p{
    font-size: 14px;
}