<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Indbetal.css">
    <title>Indbetal</title>
    
</head>
<body> -->
    <div class="columnTec">
      <div>
         <h1>Indbetal</h1>
        
         <p> Indtast venligst kort detaljer</p>
        
            <input type="text" id="kort" name="kort">
            <th><input type="text" id="kt" name="kort"> </th>
            <th><input type="text" id="kt" name="kort"> </th>
           
       
         <input type="text" id="amount" name="amount"> 
         <!-- reamber to give doller sign -->
             <span>&#36;</span>

        
        <div class="num"> 
            <th> <button type="submit" id="num1">25  </button></th>
            <th> <button type="submit" id="num2">50  </button></th>
            <th> <button type="submit" id="num3">100 </button></th>
            <br> <br>
            <th> <button type="submit" id="num4">250 </button></th>
            <th> <button type="submit" id="num5" >500 </button></th>
            <th> <button type="submit" id="num6">1000</button></th>
        </div>
        

        
         <button type="submit" name="log" id="log" > Indbetal *beløb*</button>
        
         <button type="submit" name="deaktiver" id="ind" >Indstil indbetalingsgrænse </button>

        </div>
    </div>     
<!-- </body>
</html> -->
