:host
{
  height: 100%;
  width: 100%;
}

.form-control{
  max-height: 650px;
  height: 100%;
}

.form-submit
{
  margin: 0;
  font-size: small;
  width: 100px;
  height: 30px;
}

.orange{
  background-color: orange;
}

.white{
  background-color: white;
}

.green{
  background-color: green;
}

.row{
  margin: auto;
  max-height: 200px;
  height: 100%;
  right: 0;
  left: 0;
}

h1{
  margin: 5px;
}

p{
  margin-top: 20px;
}

.form-input{
  margin: 10px;
}

label{
  margin-top: 10px;
  font-size: 15px;
}

.bot{
  width: 300px;
  margin-top: 20px;
}



