:host
{
  height: 85%;
  width: 100%;
}

.login
{
  z-index: 4
}

.form-control
{
  max-height: 650px;
  max-width: 400px;
  height: 100%;
}

.form-submit
{
  margin: 0;
  font-size: small;
  width: 100px;
  height: 30px;
}

.row
{
  margin: 0 auto;
  max-height: 200px;
  right: 0;
  left: 0;
}

.bot
{
  width: 300px;
  margin-top: 20px;
}

.btn
{
  margin: 0;
  width: 300px;
  margin-top: 20px;
}

.top
{
  margin-top: 10px;
  width: 100px;
  height: 100%;
}

.white
{
  color: black;
  background-color: white;
}

.orange
{
  color: black;
  background-color: orange;
}

.form-header
{
  margin-top: 20px;
  margin-bottom: -5px;
}
