<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background-image: url('../../../assets/media/casino.jpg');">
  <form id="login" method="get" class="form-control v-center h-center">
    <div class="column flow-down">
      <div class="form-header">
        <h1>Min Konto</h1>
      </div>
      <div class="row">
        <div class="column">
          <a routerLink="/indbetal"><button class="btn top orange">Indbetal</button></a>
        </div>
        <div class="column">
          <a routerLink="/udbetal"><button class="btn top white">Udbetal</button></a>
        </div>

        <div class="column">
          <a (click)="this.customerService.logOut()"><button class="btn top">Logout</button></a>
        </div>
      </div>

      <div class="form-row flow-down">
        <label for="balance">Balance</label>
        <input type="text" name="balance" id="balance" class="form-input" readonly/>
      </div>

      <div class="row">
        <div class="column">
          <h4>Dine kontooplysninger</h4>
        </div>
      </div>

      <div class="form-row flow-down">
        <label for="fuldeNavn">Navn</label>
        <input type="text" name="fuldeNavn" id="fuldeNavn" class="form-input" readonly/>
      </div>


      <div class="form-row flow-down">
        <label for="tlf">Telefonnummer</label>
        <input type="text" name="tlf" id="tlf" class="form-input" readonly/>
      </div>

      <div class="form-row flow-down">
        <label for="adresse">Adresse</label>
        <input type="text" name="adresse" id="adresse" class="form-input" readonly/>
      </div>

      <div class="form-row flow-down">
        <a (click)="this.customerService.logOut()"><button class="btn">Logout</button></a>
      </div>
      <div class="form-row flow-down">
        <button type="submit" name="logUd" id="logUd" class="form-submit bot bg-orange"><a href= "Deaktiver.html">Deaktiver konto</a></button>
      </div>
    </div>
  </form>
</body>
