<!-- Top row on the page. -->
<div class="row">

  <!-- Left empty column for correct positioning of other columns. -->
  <div class="column left">
    <div class="dropdown">
      <i class="fa-solid fa-bars"></i>
      <div class="dropdown-content">
        <a routerLink="konto">Konto</a>
      </div>
    </div>
  </div>

  <!-- Center column storing the title of the website. -->
  <div class="column">

    <h2>TEC-Kasino</h2>

  </div>

  <!-- Right column storing our navbar. -->
  <div class="column right">

    <nav>
      <button class="btn" (click)="logOut()"><a href="">Tilmeld</a></button>
      <button class="btn" (click)="getRefreshTokens()"><a href="">Login</a></button>
    </nav>

  </div>

</div>

<!-- Second row of the page. -->
<div class="row">

  <!-- Creates a row that is in the horizontal center of the screen. -->
  <div class="center-row">

    <div class="column">
      <p class="fa">&#xf0d6;<br>Blackjack</p>
    </div>
    <div class="column">
      <p class="fa fa-bitcoin"><br>Roulette</p>
    </div>
    <div class="column">
      <p class="fa fa-gbp"><br>Slots</p>
    </div>
    <div class="column">
      <p class="fa fa-dollar"><br>Poker</p>
    </div>

  </div>

</div>
