:host {
  height: 17.5vh;
  display: block;
}

.header {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 0 1pc rgba(0, 0, 0, 0.4);
  display: block;
  background-color: #015536;
}

.flex-box > * {
  flex: 1;
}

.flex-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav {
  position: relative;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

.sidenav > i {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

#logo {
  max-width: 188px;
  height: auto;
  color: #fff;
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
  position: absolute;
  left: 47%;
  top: 48%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sidenav > i {
  font-size: 1.6em;
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}

.buttons-flex {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  height: 100%;
  align-items: center;
}

#NotAuth {
  gap: 1em;
}

button {
  padding: 1pc;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 9pt;
  cursor: pointer;
}

#tilmeld {
  background-color: #e78553;
  color: #313233;
  border: 1px solid transparent;
}

#login {
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  color: #fff;
}

#login:hover {
  border-color: #fff;
}

#balance {
  position: relative;
  padding: 9px 3pc 9px 1pc;
  background-color: #05372c;
  border: 7px solid #05372c;
  color: #fff;
  font-size: 1pc;
  transition: all 0.1s ease;
}

#balance > i {
  font-size: 34px;
  color: #f08000;
  position: absolute;
  right: -2px;
  top: -2px;
}

#balance:hover {
  box-shadow: 0px 2px 5px -1px #000000;
}

#notification {
  position: relative;
  padding: 10px;
  border-radius: 100%;
  font-size: 1pc;
  background-color: #05372c;
  width: 44px;
  height: 44px;
  border: 1px solid #05372c;
  transition: all 0.1s ease;
}

#notification > i {
  position: absolute;
  font-size: 26px;
  color: #ddd;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#notification:hover {
  box-shadow: 0px 2px 5px -1px #000000;
}

#user {
  position: relative;
  padding: 10px;
  border-radius: 100%;
  font-size: 1pc;
  background-color: #05372c;
  width: 44px;
  height: 44px;
  border: 1px solid #05372c;
  transition: all 0.1s ease;
}

#user > i {
  position: absolute;
  font-size: 24px;
  color: #ddd;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
}

#user:hover {
  box-shadow: 0px 2px 5px -1px #000000;
}

.games {
  width: 100%;
  height: 7.5vh;
  position: absolute;
  top: var(--header-height);
  background-color: #05372c;
}

.games-flex {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.game {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 7px;
}

.game > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
  margin: auto;
  width: 33%;
  height: 85%;
}

.game > a:hover {
  height: 100%;
}

.game > i {
  color: white;
}

svg {
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
  transition: all 0.15s ease;
}

@media (max-width: 900px) {
  #logo {
    display: none;
  }

  .games-flex {
    width: 100%;
  }

  .svg {
    width: 28px;
    height: 28px;
  }
}
