<!-- Top row on the page. -->
<div class="row header">

  <!-- Left empty column for correct positioning of other columns. -->
  <div class="column left">
    <div class="dropdown">
      <i class="fa-solid fa-bars"></i>
      <div class="dropdown-content">
        <a routerLink="konto">Konto</a>
      </div>
    </div>
  </div>

  <!-- Center column storing the title of the website. -->
  <div class="column">
    <a routerLink=""><img src="../../../assets/media/tec-logo.png" width="135px" alt=""></a>

  </div>

  <!-- Right column storing our navbar. -->
  <div class="column right">

    <nav *ngIf="!this.customerService.isLoggedIn()">
      <a routerLink="tilmeld"><button class="btn tilmeld">Tilmeld</button></a>
      <a routerLink="login"><button class="btn">Login</button></a>
    </nav>
    <nav *ngIf="this.customerService.isLoggedIn()">
      <a (click)="this.customerService.logOut()"><button class="btn">Login</button></a>
    </nav>

  </div>

</div>

<!-- Second row of the page. -->
<div class="row games">

  <!-- Creates a row that is in the horizontal center of the screen. -->
  <div class="center-row">

    <div class="column">
      <p class="fa">&#xf0d6;<br><a routerLink="blackjack">Blackjack</a></p>
    </div>
    <div class="column">
      <p class="fa fa-bitcoin"><br>Roulette</p>
    </div>
    <div class="column">
      <p class="fa fa-gbp"><br>Slots</p>
    </div>
    <div class="column">
      <p class="fa fa-dollar"><br>Poker</p>
    </div>

  </div>

</div>
