<input type="text" name="search" #emailInput placeholder="Indtast Email...">
<button (click)="onGet(emailInput.value)">Søg</button>

<br><br><br><br>
<form>
  <label for="email">Email:</label>
  <br>
  <input type="text" name="email" value="{{customer.Email}}" readonly>
    <br>
  <label for="password">Password:</label>
  <br>
  <input type="text" name="password" value="{{customer.Password}}" readonly>
    <br>
  <label for="address">Adresse:</label>
  <br>
  <input type="text" name="address" value="{{customer.Address}}" readonly>
    <br>
  <label for="fname">Firstname:</label>
  <br>
  <input type="text" name="fname" value="{{customer.FirstName}}" readonly>
    <br>
  <label for="lname">Lastname:</label>
  <br>
  <input type="text" name="lname" value="{{customer.LastName}}" readonly>
    <br>
  <label for="zipcode">ZipCode:</label>
  <br>
  <input type="text" name="zipcode" value="{{customer.ZipCodeID}}" readonly>
    <br>
  <label for="phone">Phone Number:</label>
  <br>
  <input type="text" name="phone" value="{{customer.PhoneNumber}}" readonly>
    <br>
  <label for="cpr">CPR:</label>
  <br>
  <input type="text" name="cpr" value="{{customer.CPRNumber}}" readonly>
    <br>
  <label for="country">CountryID:</label>
  <br>
  <input type="text" name="country" value="{{customer.CountryID}}" readonly>
    <br>
  <label for="gender">Gender:</label>
  <br>
  <input type="text" name="gender" value="{{customer.GenderID}}" readonly>
    <br>
  <label for="regdate">Register Date:</label>
  <br>
  <input type="text" name="regdate" value="{{customer.RegisterDate}}" readonly>
</form>
