.expanded {
    display: flex;
    flex-direction: column;
}

#sidebar {
    position: relative;
}

#content {
    width: 100%;
}

.expanded > #content {
    height: auto;
}

@media screen and (min-width: 768px) {
    .expanded {
        display: flex;
        flex-direction: row;
    }

    #sidebar {
        width: 22.5rem;
    }

    #content {
        width: 100%;
    }

    .expanded > #content {
        width: calc(100% - 22.5rem);
    }
}
