<div class="footer">
	<div class="footer-icons">
	  <a href="https://www.spillemyndigheden.dk/"><img src="../assets/media/Spillemyndigheden.png" alt="Spillemyndigheden"></a>
	  <a href="https://www.spillemyndigheden.dk/gaming-og-gambling#gaming"><img src="../assets/media/18.png" alt="18"></a>
	</div>
	<div class="footer-text">
		Onlinespil kan være vanedannende og skadeligt. Spil ansvarligt og med måde. Betragt ikke onlinespil som en måde du kan tjene penge,
		og spil kun med penge du kan tåle at miste. Onlinespil skal kun betragtes som sjov underholdning, og ikke en måde at skabe en indtægt.
		Bevar kontrollen over dit spil med TEC-Kasino, og brug også dette til at sætte grænser for dit spil eller tage længere pauser.
		For mere information omkring TEC-Kasino, besøg <span><a routerLink="">TEC-Kasino.dk</a></span>. Hvis du er bekymret over dine eller andres spillevaner, kontakt Ludomani,
		udeluk dig via ROFUS eller kontakt spillemyndighedens hjælpelinje <span>StopSpillet: 70 22 28 25.</span> Minimumsalderen for spil på nettet er 18 år.
		Dette gælder selvfølgelig også hos TEC-Kasino.
	</div>
</div>