:host
{
  height: 100%;
  width: 100%;
}

img
{
  border-radius: 3px;
}

p
{
  margin: auto;
  color: white;
}

.btn
{
  height: 20px;
  margin: 10px;
}

.announcer-container {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcer-displayer {
  width: 100%;
  height: 100%;
}

.announcer-displayer > img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.navbar-divider {
  width: 100%;
  height: 75px;
  background-color: grey;
}

.game-container {
  position: relative;
  top: 5%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(512px + 16px);
}

.grid-container {
  display: grid;
  width: auto;
  height: inherit;
	font-size: 16px;
  grid-template-areas:
    'a a b c d'
    'a a e f g';
  grid-template-rows: repeat(2, 256px);
	grid-template-columns: repeat(5, 256px);
	grid-gap: 1em;
	text-align: center;
	align-items: center;
}

.grid-item > img {
  width: 100%;
  height: 100%;
}

.grid-item {
  color: white;
  height: 256px;
  display: flex;
}
.grid-item:nth-child(1) {
  grid-area: a;
  height: calc(512px + 1em);
}

.grid-item:nth-child(2) {
  grid-area: b;
}

.grid-item:nth-child(3) {
  grid-area: c;
}

.grid-item:nth-child(4) {
  grid-area: d;
}

.grid-item:nth-child(5) {
  grid-area: e;
}

.grid-item:nth-child(6) {
  grid-area: f;
}
.grid-item:nth-child(7) {
  grid-area: g;
}

.grid-item {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.4) -4.5px,rgba(0,0,0,.4));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .25s ease;
  border-radius: 3px;
}

.grid-item:hover .overlay {
  top: 0;
  height: 100%;
  cursor: pointer;
}

.grid-item > .overlay > i {
  font-size: 5em;
}

.grid-item > .overlay > i:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform ease-in,-webkit-transform ease-in;
}
.play-icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.display-text {
  color: #fff;
  position: relative;
  top: 10%;
  font-size: 1.75em;
}

.coming {
  border: 1px solid #d5d5d5;
}