<div class="announcer-container">
  <div class="announcer-displayer">
    <img src="../../../assets/media/kasino-banner.png">
  </div>
</div>
<div class="navbar-divider"></div>
<div class="game-container">
  <div class="grid-container">
    <div class="grid-item game">
      <img src="../../../assets/media/TEC-Bonus.png">
    </div>
    <div class="grid-item game">
      <img src="../../../assets/media/blackjack-picture.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="blackjack"></i>
      </div>
    </div>
    <div class="grid-item game">
      <img src="../../../assets/media/roulette-picture.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="slots"></i>
      </div>
    </div>
    <div class="grid-item game">
      <img src="../../../assets/media/slots-picture.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="slots"></i>
      </div>
    </div>
    <div class="grid-item game coming">
      <img src="../../../assets/kommersnart.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="slots"></i>
      </div>
    </div>
    <div class="grid-item game coming">
      <img src="../../../assets/kommersnart.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="slots"></i>
      </div>
    </div>
    <div class="grid-item game coming">
      <img src="../../../assets/kommersnart.png">
      <div class="overlay">
        <i class="fa-solid fa-circle-play play-icon" routerLink="slots"></i>
      </div>
    </div>
  </div>
</div>
