
 


<!--  
  < dropdown menue in left side 
  <div class="dropdown">  
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <div class="dropdown-content">  
      <a routerLink="Konto">Konto</a>
    
    </div>
</div> -->
    
 
      <!-- <div class="txt">Her bruges et billed som baggrund i stedet for den grønne farve</div> -->
  
      
  
      <!-- Images in single row -->
<div class="fill-row">
  <div class="column flow-down">
    <img src="assets/media/pic.png" alt="Blackjack" >
    <!-- try to make a button for spillet card -->
    <div class="row">
      <button class="btns"  type="submit"><a href="#">START SPILLET >> </a></button>
    </div>
    <!-- <H15>Blackjack </H15> --> 
    <div class="row">
      <div class="buttom">Blackjack</div>
    </div>
    <!-- textbox of images explation -->
    <div class="row">
      <p>  Få 50 cash freespins ved NemID verificering, og op til 1.000 kr. i kontanter ved første indbetaling! </p>
    </div>
  </div>

  <div class="column flow-down">
    <img src="assets/media/pic.png" alt="Blackjack" >
    <!-- try to make a button for spillet card -->
    <div class="row">
      <button class="btns"  type="submit"><a href="#">START SPILLET >> </a></button>
    </div>
    <!-- <H15>Blackjack </H15> --> 
    <div class="row">
      <div class="buttom">Blackjack</div>
    </div>
    <!-- textbox of images explation -->
    <div class="row">
      <p>  Få 50 cash freespins ved NemID verificering, og op til 1.000 kr. i kontanter ved første indbetaling! </p>
    </div>
  </div>
  
  <div class="column flow-down">
    <img src="assets/media/pic.png" alt="Blackjack" >
    <!-- try to make a button for spillet card -->
    <div class="row">
      <button class="btns"  type="submit"><a href="#">START SPILLET >> </a></button>
    </div>
    <!-- <H15>Blackjack </H15> --> 
    <div class="row">
      <div class="buttom">Blackjack</div>
    </div>
    <!-- textbox of images explation -->
    <div class="row">
      <p>  Få 50 cash freespins ved NemID verificering, og op til 1.000 kr. i kontanter ved første indbetaling! </p>
    </div>
  </div>
</div> 
