:host
{
  height: 100%;
  width: 100%;
}

img
{
  width: 75%;
  margin-top: 100px;
}

p
{
  margin: auto;
}

.btn{
  height: 20px;
  margin: 10px;
}

.homeRouletteImg{
  width: 55.5%;
}

.homeSlotsImg{
  width: 69.4%;
}