<!-- Images in single row -->
<div class="fill-row">
  <div class="game-container">
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../../assets/media/blackjack-picture.png">
      </div>
      <div class="grid-item">
        <img src="../../../assets/media/roulette-picture.png">
      </div>
      <div class="grid-item">
        <img src="../../../assets/media/slots-picture.png">
        <div class="overlay">
          <div class="text">Hello</div>
        </div>
      </div>
    </div>
  </div>
</div>
