.main-container {
  width: 1000px;
  background-color: #fff;
  opacity: 0;
  padding: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.header-container {
  width: 100%;
  text-align: left;
}

#header {
  font-size: 2em;
  padding: 1em 0;
  color: #545454;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1pc;
}

/* TRANSACTIONS PANEL */

.transaction-container {
  width: 75%;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

th {
  color: #fff;
  background-color: #6495ed;
}

.bottom-table {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bottom-table > .button-container {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.bottom-table > mat-paginator {
  flex-basis: 80%;
}

.button-container > button {
  width: 80px;
  height: 45px;
  padding: 0.75em 0em;
  color: #333;
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.mat-paginator {
  background: none;
}

/* ACTION PANEL */

.action-panel {
  width: 25%;
  margin-bottom: 56px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.action-panel > h2 {
  background-color: #6495ed;
  color: #fff;
  text-align: center;
  padding: 12px;
}

.wrapper {
  padding: 0 2.5%;
}

.display-balance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.display-balance > * {
  font-size: 12px;
  width: 50%;
}

.display-balance > div:nth-child(2) {
  text-align: end;
}

.edit-balance > input {
  padding: 12px;
  font-size: 25px;
  text-align: center;
  border: 1px solid black;
}

.edit-balance > input:focus {
  outline: none;
}

.edit-balance {
  display: flex;
  flex-direction: column;
  gap: 0.5pc;
}

.edit-balance > button {
  font-size: 18px;
  border: 1px solid transparent;
  line-height: 3;
  background-color: #1e88c3;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
