<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="column">
    </div>

    <div class="column">
      <h2>TEC</h2>
    </div>

    <!-- nav buttons -->
    <div class="column right">
      <nav>
        <button type="submit" ><a href="TilmedForm.html">Tilmeld</a></button>
        <button type="submit" ><a href="loginPage.html">Login</a></button>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="column-row">
      <div class="column">
        <p class="fa">&#xf0d6;<br>Blackjack</p>
      </div>
      <div class="column">
        <p class="fa fa-bitcoin"><br>Roulette</p>
      </div>
      <div class="column">
        <p class="fa fa-gbp"><br>Slots</p>
      </div>
      <div class="column">
        <p class="fa fa-dollar"><br>Poker</p>
      </div>
    </div>
  </div>

  <!-- here i create Login form -->
  <div class="fill-row">
    <form id="login" method="get" class="login center middle">
      <img src="../../../assets/media/pig.png" class="ll-img" />
      <div class="column flow-down">
        <input type="text" name="E-mail" id="E-mail" class="form-input" placeholder="@ E-mail" />
        <input type="Password" name="Pass" id="Pass" class="form-input" placeholder=" @ Password" />
        <button type="submit" name="log" id="log" class="form-submit">Log ind</button>
        <a href="#">Glemt Adgangskode</a>
        <a href="TilmedForm.html">Opret Konto</a>
      </div>
    </form>
  </div>
</div>
