/* Gets the angular component element in the DOM and defines the behaviour of it. */
:host
{
  height: 100%;
}

/* Defines the behaviour of the Lady Image. */
.ll-img
{
  height: 100%;
  position: absolute;
  top: 0;
  left: -208px;
  display: block;
}

/* Only applies if the device's screen width is less than 600px. */
@media only screen and (max-width: 600px)
{
  .center-row
  {
    width: 100%;
  }

  .ll-img
  {
    display: none;
  }
}
