<form class="form-col-5 form-col-s-9" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-header">
    <h1>Log ind</h1>
  </div>
  <div class="form-body">
      <div *ngIf="submitted && !form.touched" id="error">Indtast en gyldig e-mail og adgangskode</div>
      <div class="input-group">
      <input type="text" formControlName="email" placeholder="E-mail">
      <i class="fa fa-envelope"></i>
    </div>
    <div class="input-group">
      <input [type]="show ? 'text' : 'password'" formControlName="password" placeholder="Adgangskode">
      <button type="button" id="show-pass" (click)="togglePassword()">Vis</button>
      <i class="fa fa-lock"></i>
    </div>
  <div class="submit-container">
    <button type="submit" [disabled]="form.invalid">Log ind</button>
    <div class="form-links">
      <a routerLink="/kontakt">Glemt adgangskode?</a>
      <a routerLink="/tilmeld">Opret konto</a>
    </div>
  </div>
</div>
</form>
