<!-- Login form for calling the API. -->
<form id="login" method="post" class="form-control v-center h-center" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="column flow-down">
    <div class="form-header">
      <h2>Login</h2>
    </div>

    <!-- Lady on the left of the login form. -->
    <img src="../../../assets/media/pig.png" class="ll-img" />
    <!-- A single column where its content flows down instead of sideways. -->
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>

    <div class="form-row flow-down">
      <input type="text" name="email" id="email" class="form-input" placeholder="@ E-mail" ngModel required autofocus/>
    </div>

    <div class="form-row flow-down">
      <input type="password" name="password" id="password" class="form-input" placeholder="@ Password" ngModel required autofocus />
    </div>

    <div class="form-row flow-down">
      <button type="submit" name="login" id="login" class="btn form-submit">Log ind</button>
    </div>

    <div class="form-row flow-down">
      <a href="#">Glemt Adgangskode</a>
      <a href="TilmedForm.html">Opret Konto</a>
    </div>
  </div>
</form>
