@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 12px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: #303030;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}
