:host() {
	width: 100%;
	height: 100%;
}

.container {
	overflow: auto;
}



.searchbar-container {
	width: 100%;
	border: 1px solid black;
}

.category-container {
	max-width: 50%;
	max-height: 50%;
}

.grid-container {
	display: grid;
	gap: 1rem;


	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 10px;
}

.grid-item {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fdfefe;
	font-size: 1.375rem;
	color: #fff;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	transition: all 500ms;
	border: 1px solid #D4EFDF;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-height: 150px;
	color: black;
	height: 150px;
}

.grid-item:hover {
	box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
	transform: translateY(-1px) scale(1.03);
	background-color: #D4EFDF;
}

