<div class="container">

	<div class="searchbar-container">
		<div class="searchbar">
			<h1>Hvordan kan vi hjælpe?</h1>
			<input class="input-searchbar">
		</div>
	</div>

	<div class="category-container h-center">
		<section class="grid-container">
			<div class="grid-item"><a>Generalt</a></div>
			<div class="grid-item">Indbetaling</div>
			<div class="grid-item">Udbetaling</div>
			<div class="grid-item">Registrering og log ind</div>
			<div class="grid-item">Spilleregler</div>
			<div class="grid-item">Velkomstbonusser</div>
		</section>
	</div>
</div>