.dropdown-wrapper {
	width: inherit;
	display: flex;
	flex-direction: column;
  position: relative;
}

.dropdown-btn {
  color: var(--sidebar-color);
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0;
  text-align: left;
}

:host dropdown button span {
  padding-left: 2rem;
}

:host dropdown dropdown button span  {
  padding-left: 4rem!important;
}

:host dropdown dropdown dropdown button span  {
  padding-left: 6rem!important;
}

button:hover {
  background-color: var(--sidebar-background-hover);
}

.dropdown-btn > svg {
  float: right;
  width: 2rem;
}

svg > path {
  fill: #fff;
}

.dropdown-wrapper {
  color: var(--sidebar-color-hover);
  text-shadow: var(--sidebar-text-shadow)
}

dropdown {
	display: none;
}

.expanded {
  display: block;
}

.dropdown-btn.expanded {
	color: var(--sidebar-color-hover);
	background-color:  var(--sidebar-background-hover);
}

.expanded > svg {
  transform: rotate(90deg);
}

.dropdown-container {
  display: none;
}

