.dropdown-wrapper {
	width: inherit;
	display: flex;
	flex-direction: column;
}

.dropdown-btn {
  color: #fafafa;
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0;
  text-align: left;
}

.dropdown-btn > i {
	float: right;
}

.dropdown-btn:hover {
  color: #bae0ff;
  text-shadow: 0 0 5px #0a1014;
}

dropdown {
	display: none;
}

.expanded {
  display: block;
}

.dropdown-btn.expanded {
	color: #bae0ff;
	background-color: #444;
}

.expanded > i {
  transform: rotate(90deg);
}

.dropdown-container {
  display: none;
}
