<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <form id="login" method="get" class="form-control v-center h-center">
    <div class="column flow-down">
      <h2>Indbetaling</h2>
      <input type="text" name="kort" id="kortnummer" class="form-input" placeholder=" Kortnummer fx 0000 0000 0000 0000" />
      <input type="text" name="kort" id="kortnummer" class="form-input" placeholder=" Udløbsdato  fx 12/12" />
      <input type="text" name="kort" id="kortnummer" class="form-input" placeholder=" Kontrolcifre fx 123" />
      <input type="text" name="amount" id="amount" class="form-input" placeholder=" Beløb" />
      <button type="submit" name="log" id="log" class="form-submit">Bekraft</button>
    </div>
  </form>