:host
{
  height: 100%;
  width: 100%;
}

.form-control
{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-height: 650px;
  max-width: 400px;
}

.row
{
  border-bottom: none;
}

@media only screen and (max-width: 600px)
{
  .form-control
  {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
