:host {
	margin: 0 auto;
}

.divider {
	display: block;
	width: 80%;
	height: 0.1rem;
	margin: 1rem auto;
	background-color: var(--divider-background);
}

p {
	color: var(--paragraph-color);
	font-size: 1.5rem;
	font-weight: 300;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card {
	background-color: var(--card-background);
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
	box-shadow: 0px 0px 4px -2px black;
	border-radius: 0.25rem;
}

.header {
	font-size: 3rem;
	color: var(--header-color);
	text-align: center;
}

.card-header {
	font-size: 2rem;
	color: var(--card-header);
	text-align: center;
}

.card-section-header {
	font-size: 1.8rem;
	font-weight: 500;
}

.card-section {
	background-color: var(--card-section-background);
	padding: 1rem;
	border-radius: 0.25rem;
	margin-bottom: 2rem;
}

ul {
	color: var(--paragraph-color);
	font-size: 1.8rem;
	font-weight: 500;
}

ul > li {
	list-style: none;
	color: var(--paragraph-color);
	font-size: 1.5rem;
	margin-left: 2%;
}
