.input-fieldarea {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input-fieldarea > * {
	font-size: 1.5rem;
}

.input-fieldarea > label {
	color: var(--text-color);
	margin-left: 1.5rem;
}

.input-fieldarea > textarea {
	border-radius: 0.5rem;
	background-color: var(--input-background-color);
	border: none;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	outline: none;
	resize: vertical;
	min-height: 5rem;
}

.input-fieldarea > input {
	border-radius: 2rem;
	border: none;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	outline: none;
}

.input-fieldarea > #index {
	position: absolute;
	background-color: transparent;
	right: 0;
	bottom: 0;
	width: 4.5rem;
}

.input-fieldarea-static {
	display: none;
}

select {
	position: absolute;
	top: 0;
	right: 0;
	height: 1.75rem;
	font-size: 1rem!important;
	line-height: 1;
	width: 5rem;
}

.second-selected {
	right: 6rem;
}

#font-style {
	width: 8rem;
}
