.input-field {
	display: flex;
	flex-direction: column;
}

.input-field > * {
	font-size: 2rem;
}

.input-field > label {
	color: #fff;
	margin-left: 1.5rem;
}

.input-field > input {
	border-radius: 2rem;
	border: none;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	outline: none;
}

#create-form {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
